# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
out/
dist/
build/

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# Playwright Test Artifacts
playwright-report/
test-results/
