@import "tailwindcss";

@theme {
  --color-surface: #10131a;
  --color-surface-dim: #10131a;
  --color-surface-bright: #363941;
  --color-surface-container-lowest: #0b0e15;
  --color-surface-container-low: #191b23;
  --color-surface-container: #1d1f27;
  --color-surface-container-high: #272a32;
  --color-surface-container-highest: #32353d;
  --color-on-surface: #e1e2ec;
  --color-on-surface-variant: #bdc8d1;
  --color-inverse-surface: #e1e2ec;
  --color-inverse-on-surface: #2d3038;
  --color-outline: #87929a;
  --color-outline-variant: #3e484f;
  --color-surface-tint: #7bd0ff;
  --color-primary: #8ed5ff;
  --color-on-primary: #00354a;
  --color-primary-container: #38bdf8;
  --color-on-primary-container: #004965;
  --color-secondary: #b4c5ff;
  --color-secondary-container: #0053db;
  --color-on-secondary-container: #cdd7ff;
  --color-tertiary: #c7c8ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  min-height: 100vh;
}
